.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 224px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -224px;
}

#sidebarCollapse {
    width: 20px;
    height: 20px;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    transition: all 0.4s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

#content {
    width: calc(100% - 224px);
    // padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar-sticky .nav-link:hover,
.sidebar-sticky .nav-link.active {
    background-color: $primary;
    color: white;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #content {
        width: 100%;
        background-color: none;
    }
    #cover {
        height: 100%;
        width: 100%;
        background-color: none;
    }

    #cover.active {
        height: 100%;
        width: calc(100% - 224px);
        background-color: #00000052;
    }

    #sidebar {
        margin-left: -224px;

    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}
